.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100vh - (var(--default-layout-nav-max-height)));
    overflow: hidden;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    color: var(--white);
}
